body{
	margin:0px;
	text-align: center;
}

#main{
	margin:0 auto;
	background-color: #ffffff;
	width:1200px;
	height: auto;
}

#top{
	width:1200px;
	height:auto;
	min-height: 400px;
}

#left{
	float:left;
	width:225px;
	height: 398px;
	border:2px solid #e4393c;
	border-top-style: none;
	padding: 0px;
	position: relative;
}

#main #top #left ul{
	background-color: #ffffff;
	margin: 0;
	padding-top: 4px;
	padding-left: 30px;
}

#main #top #left li{
	background-color: #ffffff;
	text-align: left;
	height: 30px;
	line-height:30px;
	list-style-type:none;
	list-style-image: url("../images/li_img.jpg");
	margin-left:0px;
}

#main #top #left li a:link{
	color:#000000;
	text-decoration: none;
}

#main #top #left li a:visited{
	color:#000000;
}

#main #top #left li a:hover{
	background-color: #ffffff;
}

#left a:link{
	text-decoration: none;
	color: #888888;
}

#left a:visited{
	text-decoration: none;
	color: #888888;
}

#left a:hover{
	text-decoration: underline;
	color: #dd0000;
}

#left a:active{
	text-decoration: none;
	color: #888888;
}

#right{
	float:right;
	width:963px;
	height: auto;
	margin-top: 5px;
	padding-bottom:0px;
	position:relative;
	min-height: 395px;
}

.red{
	color: #dd0000;
	font-weight: bold;
}
#pannel_01{
	width:380px;
	height:180px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 4px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#li_01{
	z-index: 5;
	border: 2px 
}

#pannel_01_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_01_02{
	width:100%;
	height:150px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_02{
	width:400px;
	height:180px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 34px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_02_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_02_02{
	width:100%;
	height:150px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

.pannel_left{
	float:left;
	width:90px;
	text-align: right;
}

.pannel_right{
	text-align: left;
}

#pannel_03{
	width:480px;
	height:210px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 64px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_03_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_03_02{
	width:100%;
	height:180px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_04{
	width:480px;
	height:210px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 64px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_04_00{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_04_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_04_02{
	width:100%;
	height:150px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_05{
	width:480px;
	height:210px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 64px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_05_00{
	width:100%;
	height:60px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_05_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_05_02{
	width:100%;
	height:120px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_06{
	width:480px;
	height:180px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 94px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_06_00{
	width:100%;
	height:60px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_06_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_06_02{
	width:100%;
	height:90px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_07{
	width:480px;
	height:180px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 124px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_07_00{
	width:100%;
	height:60px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_07_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_07_02{
	width:100%;
	height:90px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_08{
	width:480px;
	height:180px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 154px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_08_00{
	width:100%;
	height:60px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_08_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_08_02{
	width:100%;
	height:90px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_09{
	width:480px;
	height:150px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 184px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_09_00{
	width:100%;
	height:60px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_09_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_09_02{
	width:100%;
	height:60px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_10{
	width:480px;
	height:180px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 184px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_10_00{
	width:100%;
	height:90px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_10_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_10_02{
	width:100%;
	height:60px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_11{
	width:480px;
	height:180px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 184px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_11_00{
	width:100%;
	height:120px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_11_01{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_11_02{
	width:100%;
	height:30px;
	border-left: 1px solid #e4393c;
	line-height: 30px;
	font-size: 14px;
}

#pannel_12{
	width:480px;
	height:150px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 214px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_12_01{
	width:100%;
	height:120px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_12_02{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#pannel_13{
	width:480px;
	height:150px;
	background-color: #ffffff;
	z-index: 2;
	position: absolute;
	top: 244px;
	left: 215px;
	display: none;
	border: 1px solid #e4393c;
	border-left: none;
}

#pannel_13_01{
	width:100%;
	height:120px;
	line-height: 30px;
	font-size: 14px;
	border-left: 1px solid #e4393c;
}

#pannel_13_02{
	width:100%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
}

#categorytwo{
	width: 100%;
	height: auto;
	line-height: 33px;
	margin-top: 5px;
}

#categorytwoMore{
	width: 100%;
	height: auto;
	display: none;
	line-height: 33px;
}

.cname{
	width: 13%;
	height: auto;
	float: left;
	font-size: 16px;
	font-family: "Microsoft YaHei"
}

.cvalue{
	width: 87%;
	height: auto;
	float: right;
	text-align: left;
}

.cvalue a:LINK{
	text-decoration: none;
	color: gray;
}

.cvalue a:VISITED{
	color: gray;
}

.cvalue a:HOVER{
	color: red;
	text-decoration: underline;
}

.cvalue a:ACTIVE{
	color: blue;
}

.usl{
	width: 100%;
	height: 34px;
	line-height: 34px;
	border-bottom: 1px dotted #ddd;
}

#conditionTitle{
	width: 98%;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	text-align: left;
	padding-left: 20px;
	background-color: #fff;
	border-bottom: 2px solid #E4393C;
	margin-top: 3px;
}

.twospan{
	margin-left: 10px;
	white-space: normal;
	display: inline-block;
}

.clear{
	clear: both;
}

#ads{
	width: 100%;
	height: 80px;
}

#selCondition{
	width: 96%;
	height: 34px;
	background: #F4F4F0;
	text-align: left;
	line-height: 34px;
	border-radius:5px;
	margin-left: 18px;
	padding-left: 15px;
	position:absolute; 
	bottom:0px;
	margin-bottom:0px;
}

#selCondition a:LINK{
	text-decoration: none;
	color: black;
}

#selCondition a:VISITED{
	text-decoration: none;
	color: black;
}

#selCondition a:HOVER{
	text-decoration: none;
	color: red;
}

#bottom{
	width: 100%;
	height: auto;
	margin-top: 15px;
}

#bottom_left{
	float:left;
	width:240px;
	height:598px;
	border: 1px solid #ccc;
	text-align: center;
}

#bottom_right{
	width:940px;
	margin-left:255px;
	height: auto;
	border: 1px solid #ccc;
}

.bottom_01_left_title{
	width:100%;
	height:25px;
	background-color: #eeeeee;
	line-height: 27px;
	text-align: left;
}

#bottom_01_left img{
	border: none;
}

.bottom_02_details_01_01{
	width:215px;
	height:260px;
	margin-left: 6px;
	margin-right:6px;
	margin-top:10px;
	text-align: left;
	padding: 5px;
	border: 1px solid #dddddd;
	line-height: 25px;
}

.bottom_02_details_img_01{
	width:200px;
	height:190px;
	margin-left:11px;
}

.bottom_02_goods_name_01{
	width:210px;
	height:40px;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	overflow: hidden;
	text-overflow:ellipsis; 
}

.bottom_02_goods_name_01 a:LINK{
	text-decoration: none;
	color: black;
}

.bottom_02_goods_name_01 a:VISITED{
	text-decoration: none;
	color: black;
}

.bottom_02_goods_name_01 a:HOVER{
	text-decoration: underline;
	color: red;
}

.bottom_02_goods_name_01 a:ACTIVE{
	color: blue;
	text-decoration: none;
}

.bottom_02_price_01{
	margin-top: 10px;
}

#bottom_right_sort{
	text-align: left;
	border-bottom: 1px solid #eee;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
}

.sortByCdt{
	margin-left: 15px;
}

.sortByCdt a:LINK{
	color: gray;
	text-decoration: none;
	font-size: 14px;
}

.sortByCdt a:VISITED{
	color: gray;
}

.sortByCdt a:HOVER{
	text-decoration: underline;
	color: red;
}

.sortByCdt a:ACTIVE{
	text-decoration: underline;
	color: blue;
}

#bottom_right_res{
	width: 100%;
	height: auto;
}

.bottom_01_title_01_01_01{
	width:220px;
	height:255px;
	float: left;
	margin-left: 8px;
	margin-right:4px;
	margin-top: 12px;
	text-align: center;
	border: 1px solid #eee;
}

.img_01{
	width:171px;
	height:145px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 15px;
}

.goods_name{
	width:211px;
	height:40px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 14px;
	color:#565748;
	text-align: left;
	line-height: 20px;
	overflow: hidden;
	
}

.goods_name a:LINK{
	color: #565748;
	text-decoration: none;
	font-size: 15px;
}

.goods_name a:VISITED{
	color: #565748;
}

.goods_name a:HOVER{
	color: red;
	text-decoration: underline;
}

.goods_name a:ACTIVE{
	color: blue;
}

.goods_price{
	width:211px;
	height:28px;
	margin-left: 5px;
	margin-right: 5px;
	color:red;
	font-weight: bold;
	line-height: 28px;
	text-align: left;
	font-size: 14px;
}

#fenye{
	width: 100%;
	height: 30px;
	line-height:30px;
	margin-top: 5px;
	float: left;
}