#pageNum{
	width:980px;
	height:30px;
	margin-top: 5px;
	z-index: 20;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
}

#pageNum a:LINK{
	text-decoration: underline;
	color: black;
}

#pageNum a:VISITED{
	color: black;
}

#pageNum a:HOVER{
	color: red;
}

#pageNum a:ACTIVE{
	color: blue;
}

.pageNow{
	border: 1px solid black;
	width:5px;
	height:5px;
	padding: 1px 5px;
	background-color: #FFCA7D;
}
.pageOther{
	border: 1px solid black;
	width:5px;
	height:5px;
	padding: 1px 5px;
}